<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo Items</title>
</head>
<body>
    <h1>Todo List</h1>
    <ul>
        <li th:each="todo: ${todoList}">
            <p>Title:
            <span th:text="${todo.title}"></span></p>
            <p>Description: <span th:text="${todo.description}"></span></p>
            <form th:action="@{/delete/{id}(id=${todo.id})}" method="post">
                <button>Delete</button>
            </form>
            <form th:action="@{/update/{id}(id=${todo.id})}" method="post">
                <input type="hidden" name="completed" th:value="${todo.completed ? false : true}"/>
                <button type="submit" th:text="${todo.completed ? 'Incomplete' : 'Complete'}"></button>
            </form>
            <form th:action="@{/update/{id}(id=${todo.id})}" method="post">
                <input type="hidden" name="starred" th:value="${todo.starred ? false : true}"/>
                <button type="submit" th:text="${todo.starred ? 'Starred' : 'Not Starred'}"></button>
            </form>
        </li>
    </ul>
    <form th:action="@{/}" method="post">
        <input type="text" name="title" placeholder="Enter todo title" required />
        <input type="text" name="description" placeholder="Enter todo description" required/>
        <button type="submit">Add a new todo</button>
    </form>
</body>
</html>